/* Theme CSS Variables */
:root,
[data-theme="default"] {
  --background-color: #242424;
  --text-color: #f7f7f7;
  --text-shadow-color: #000;

  --main-header-color: #d97b08;
  --main-header-text-shadow: #000 3px 3px 0px;
  --main-header-txt-link-color: #696969;

  --common-header-color: #ff9b20;
  --common-header-text-shadow: #000 2px 2px 0px;

  --menu-item-color: #ffd9aa;
  --menu-item-text-shadow: #000 2px 2px 0px;

  --block-container-bg: #404040;
  --block-container-shadow: #000 3px 3px 14px;

  --block-signalling-bg: linear-gradient(45deg, rgba(18,209,0,1) 0%, rgba(9,89,0,1) 100%);
  --block-non-signalling-bg: linear-gradient(45deg, rgba(209,0,0,1) 0%, rgba(89,0,0,1) 100%);
  --block-upcoming-bg: transparent;
  --block-upcoming-border: 1px solid #5a5a5a;

  --progress-container-shadow: rgb(0, 0, 0) 2px 2px 14px;
  --progress-signalling-bg: linear-gradient(45deg, #217f35 0%, rgba(9, 89, 0, 1) 100%);
  --progress-signalling-border: 1px solid #1ed947;
  --progress-non-signalling-bg: linear-gradient(45deg, #731212 0%, rgba(89, 0, 0, 1) 100%);
  --progress-non-signalling-border: 1px solid #c30000;
  --progress-upcoming-bg: linear-gradient(45deg, #8e8e8e 0%, #afafaf 100%);
  --progress-upcoming-border: 1px solid #f7f7f7;

  --stats-primary-color: #ff9b20;
  --stats-label-color: #f7f7f7;

  --countdown-time-color: #ffb151;
}

[data-theme="colorblind"] {
  --background-color: #111;
  --text-color: #fcfcfc;
  --text-shadow-color: #000;

  --main-header-color: #fff;
  --main-header-text-shadow: #000 3px 3px 0px;
  --main-header-txt-link-color: #ddd;

  --common-header-color: #fff;
  --common-header-text-shadow: #000 2px 2px 0px;

  --menu-item-color: #d5d5d5;
  --menu-item-text-shadow: #000 2px 2px 0px;

  --block-container-bg: #313131;
  --block-container-shadow: #000 3px 3px 14px;

  --block-signalling-bg: #1ac29c;
  --block-non-signalling-bg: #686969;
  --block-upcoming-bg: transparent;
  --block-upcoming-border: 1px solid #5a5a5a;

  --progress-container-shadow: rgb(0, 0, 0) 2px 2px 14px;
  --progress-signalling-bg: #1ac29c;
  --progress-signalling-border: 1px solid #1ac29c;
  --progress-non-signalling-bg: #686969;
  --progress-non-signalling-border: 1px solid #686969;
  --progress-upcoming-bg: rgba(255,255,255,0.1);
  --progress-upcoming-border: 1px solid rgba(255,255,255,0.1);

  --stats-primary-color: #1ac29c;
  --stats-label-color: #fcfcfc;

  --countdown-time-color: #fff;
}

[data-theme="saltyroger"] {
  --background-color: #242424;
  --text-color: #f7f7f7;
  --text-shadow-color: #000;

  --main-header-color: #d97b08;
  --main-header-text-shadow: #000 3px 3px 0px;
  --main-header-txt-link-color: #696969;

  --common-header-color: #ff9b20;
  --common-header-text-shadow: #000 2px 2px 0px;

  --menu-item-color: #ffd9aa;
  --menu-item-text-shadow: #000 2px 2px 0px;

  --block-container-bg: #404040;
  --block-container-shadow: #000 3px 3px 14px;

  --block-signalling-bg: linear-gradient(45deg, rgba(18,209,0,1) 0%, rgba(9,89,0,1) 100%);
  --block-non-signalling-bg: url(/saltyroger.png);
  --block-upcoming-bg: transparent;
  --block-upcoming-border: 1px solid #5a5a5a;

  --progress-container-shadow: rgb(0, 0, 0) 2px 2px 14px;
  --progress-signalling-bg: linear-gradient(45deg, #217f35 0%, rgba(9, 89, 0, 1) 100%);
  --progress-signalling-border: 1px solid #1ed947;
  --progress-non-signalling-bg: linear-gradient(45deg, #731212 0%, rgba(89, 0, 0, 1) 100%);
  --progress-non-signalling-border: 1px solid #c30000;
  --progress-upcoming-bg: linear-gradient(45deg, #8e8e8e 0%, #afafaf 100%);
  --progress-upcoming-border: 1px solid #f7f7f7;

  --stats-primary-color: #ff9b20;
  --stats-label-color: #f7f7f7;

  --countdown-time-color: #ffb151;
}

/* Base styles */
html, body {
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Container */
.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

/* Content */
.content {
  width: 100%;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
}

.content-wide {
  width: 100%;
  max-width: 1500px;
}

/* Body */
.body {
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

/* Main Header/Title */
.site-title {
  margin: 40px 0 20px;
  font-size: 42px;
  text-align: center;
  color: var(--main-header-color);
  text-shadow: var(--main-header-text-shadow);
  position: relative;
}

.txt-link {
  color: var(--main-header-txt-link-color);
  position: absolute;
  font-size: 10px;
  margin-left: 4px;
  text-shadow: transparent 0px 0px 0px;
}

@media only screen and (max-width: 650px) {
  .txt-link {
    display: none;
  }
}

/* Common Header */
.common-header {
  font-size: 24px;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

/* Text */
.text {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 20px;
}

.text a {
  color: var(--text-color);
}

/* Menu */
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.menu-item {
  margin: 0 10px;
  display: block;
  font-size: 17.5px;
  text-align: center;
  color: var(--menu-item-color);
  text-shadow: var(--menu-item-text-shadow);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.menu-item.active {
  border-bottom: 1px solid #555;
}

/* Block Container */
.block-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px;
  background-color: var(--block-container-bg);
  box-shadow: var(--block-container-shadow);
  border-radius: 6px;
  margin-bottom: 30px;
}

/* Block */
.block {
  width: 18px;
  height: 18px;
  margin: 3px;
  border-radius: 4px;
  position: relative;
  border: 1px solid var(--block-container-bg);
  background-size: cover;
}

.block.big {
  width: 36px;
  height: 36px;
}

.block.signalling {
  background: var(--block-signalling-bg);
}

.block.non-signalling {
  background: var(--block-non-signalling-bg);
  background-size: cover;
}

.block.upcoming {
  background: var(--block-upcoming-bg);
  border: var(--block-upcoming-border);
}

.block.selected {
  box-shadow: rgb(255 167 0) 0px 0px 2px 3px;
}

.block.next-block {
  animation: fadeIn 2.6s linear infinite;
}

@keyframes fadeIn {
  0% { opacity: 0.30; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0.30; }
}

/* colorblind signalling indicator */
[data-theme="colorblind"] .block.signalling::after {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  right: 2px;
  bottom: 2px;
  position: absolute;
}

/* Progress Bar */
.progress-container {
  padding: 10px 0;
  margin-top: 35px;
  margin-bottom: 20px;
  position: relative;
}

.progress-bar {
  box-shadow: var(--progress-container-shadow);
  display: flex;
  height: 44px;
}

.progress-segment {
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  cursor: default;
}

.progress-segment.signalling {
  background: var(--progress-signalling-bg);
  border: var(--progress-signalling-border);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.progress-segment.signalling.rounded-right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.progress-segment.upcoming {
  background: var(--progress-upcoming-bg);
  border: var(--progress-upcoming-border);
}

.progress-segment.upcoming.rounded-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.progress-segment.upcoming.rounded-right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.progress-segment.non-signalling {
  background: var(--progress-non-signalling-bg);
  border: var(--progress-non-signalling-border);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.progress-segment.non-signalling.rounded-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.progress-info-container {
  padding-top: 10px;
  display: flex;
}

.progress-info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f7f7f7;
  font-size: 13px;
}

.percent-holder {
  display: flex;
  flex-direction: column;
  width: 15px;
  position: absolute;
  top: 10px;
  font-size: 12px;
}

.ninety-percent-indicator {
  width: 3px;
  height: 44px;
  background: #f7f7f7;
}

.ninety-percent-text {
  color: #fff;
  height: 20px;
  margin-top: -20px;
  margin-left: -9px;
}

/* Tables */
.miners-table {
  width: 100%;
  box-shadow: #000 3px 3px 14px;
  border-radius: 6px;
  margin: 0 3px 30px;
  border: 0;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .miners-table {
    transform: scale(0.95);
    transform-origin: top;
  }
}

.table-head {
  background-color: #383838;
}

.table-body {
  text-align: center;
  background-color: #434343;
}

.table-body tr:hover {
  background-color: #505050;
}

.table-row {
  border-bottom: 2px solid #393939;
}

.table-row:last-child {
  border-bottom: 0;
}

.table-header {
  color: #efefef;
  padding: 9px;
}

.table-header-link {
  color: #efefef;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.table-header-sort {
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
}

.table-cell {
  color: #f0f0f0;
  padding: 16px;
}

.table-cell a {
  color: #f0f0f0;
}

.signalling-cell {
  color: #efefef;
  padding: 16px;
  text-align: center;
}

.signalling-cell a {
  color: #efefef;
}

/* Donation */
.donate-container {
  margin: 0 auto 100px;
  max-width: 400px;
  text-align: center;
}

.donate-text {
  display: block;
  text-align: center;
  color: #9c9c9c;
  text-shadow: #000 1px 1px 0px;
  cursor: pointer;
}

.bolt11-text {
  display: block;
  overflow-wrap: anywhere;
  font-size: 11px;
  color: #aaa;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 15px;
}

.invoice-text {
  text-align: center;
  color: #aaa;
  text-shadow: #000 1px 1px 0px;
}

.change-to-bolt11 {
  display: block;
  text-align: center;
  color: #aaa;
  text-shadow: #000 1px 1px 0px;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.connect-to-node-title {
  display: block;
  overflow-wrap: anywhere;
  font-size: 12px;
  color: #aaa;
  margin-top: 17px;
  margin-bottom: 4px;
}

.connect-to-node-data {
  display: block;
  overflow-wrap: anywhere;
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
}

/* Contact Twitter */
.contact-twitter {
  color: #9e9e9e;
  text-shadow: #000 1px 1px 0px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 35px;
}

.contact-twitter a {
  color: #ababab;
}

/* Fork Completed */
.status-container {
  margin: auto;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
}

.status-text {
  font-size: 44px;
  text-align: center;
  margin-bottom: 2px;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

.status-description {
  text-align: center;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

.celebrate-video {
  display: block;
  max-width: 100%;
  margin: 12px 0;
}

.countdown-header {
  font-size: 28px;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

.countdown {
  font-size: 58px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--countdown-time-color);
  text-transform: uppercase;
}

.countdown-blocks {
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

/* Final Block Countdown */
.final-countdown-holder {
  margin: auto;
}

/* Description Block */
.description-block {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

/* Top Section */
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-period {
  margin-bottom: 10px;
}

.lockin-info {
  font-size: 16px;
  text-align: right;
  margin-bottom: 10px;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

.cannot-lockin-info {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

.bootstrapping-progress {
  color: #efefef;
  text-align: center;
}

/* Settings */
.settings-container {
  align-self: center;
  max-width: 700px;
  width: 100%;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.settings-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.settings-label {
  cursor: default;
  font-size: 18px;
  margin: 0;
}

.settings-dropdown {
  width: 100px;
  font-size: 13px;
}

/* About page */
.about-header {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: normal;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

.info-container {
  max-width: 980px;
}

.info-section {
  margin-bottom: 20px;
}

.sponsor-container {
  max-width: 980px;
}

.sponsor-section {
  display: flex;
  flex-direction: row;
}

.sponsor {
  display: flex;
  flex-direction: column;
  width: 175px;
  align-items: center;
  margin: 10px 10px;
  padding: 8px;
  text-decoration: none;
}

.sponsor-image {
  max-width: 120px;
}

.sponsor-name {
  color: #f7f7f7;
  font-size: 14px;
  margin-bottom: 0;
}

/* Miner page */
.miner-title {
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

.see-miner-overview {
  color: #f7f7f7;
  margin-bottom: 20px;
}

.miner-blocks-container {
  margin-top: 20px;
}

.miner-block {
  font-family: monospace;
}

.miner-block .locate {
  margin-left: 10px;
  text-decoration: none;
}

/* Stats page */
.chart-holder {
  margin-bottom: 100px;
  margin-left: 28px;
  margin-right: 28px;
}

.chart-title {
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

/* Totals */
.totals {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

.totals-potential {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  text-decoration: underline #9a9a9a dotted;
  text-underline-position: under;
  color: var(--common-header-color);
  text-shadow: var(--common-header-text-shadow);
}

/* GitHub corner button */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% { transform: rotate(0); }
  20%, 60% { transform: rotate(-25deg); }
  40%, 80% { transform: rotate(10deg); }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.github-corner-svg {
  fill: #e5eaea;
  color: #242424;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

svg {
  overflow: visible;
}
